body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0dcdc;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.stopwatch {
    text-align: center;
    background-color: rgb(129, 174, 177);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #6ba39a;
}

.laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.laps li {
    padding: 5px 0;
    font-size: 16px;
}
